<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="test/helpers/config.php"
>
    <testsuites>
        <testsuite name="PHP ActiveRecord Test Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
</phpunit>
